* {
	margin: 0;
	padding: 0;
}
html {
background: url("../images/layout/bg.jpg") repeat;
}
body{
	color: #000;
	font: normal 14px Roboto sans-serif;
}
img{	
	border: 0;
}		
a{
	color: white;
	outline: none;
	text-decoration: initial; }
	
/* разделители в меню не работают
----------------------------------	
ul а {
display: block;
float: right;
padding: О 2еm;
line-height: 2.1em;
text-decoration: nonе;
color: #fff;
}
	*/
a:active{
	color: none;
}
#page-header li:hover a{
color: white;
background: #568cbc;
padding: 8px;
}

}

a:visited{
	color: #c60101;
}	
ul li{
	list-style: none;
}		
table{
    width: 100%;
	border-collapse: collapse;
}	
table td{		  			 
	vertical-align: top;	
}
input, textarea, select, button{
	font: 
	outline: none;	
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

/* Layout
----------------------------------*/	
.wrapper{
	width: 1140px;
	margin: 0 auto;	
}
/* Header */	
#page-header{
width: 1140px;
height: 150px;
}

.logo{
width: 308px;
height: 68px;
float: left;
margin: 21px 21px;
background: url("../images/layout/logo.png") no-repeat 0 0;
}

#main-navi{
font: normal 15px 'Roboto Regular', sans-serif;
margin: 52px 23px 0 0;  
float: right;
color: white;
}
#main-navi a:hover{
backgrouund-color: #369;
color: white;
}

#main-navi li{
	height: 50px;
	margin: 0 2px;
	padding: 0 6px;
	/*display: inline;*/
	float: right;
}	


#page-body{
width: 1140px;
background: url("../images/content/tile.jpg") repeat ;
}


.about {
background: url("../images/content/main-top-bg.jpg") no-repeat left top;
padding: 65px;
}

.about p {
color: #36597d;
font: 24px 'Roboto', sans-serif;
padding: 10px;
}

.about h1 {
color: #184771;
font: 40px 'Roboto 700', sans-serif;
}

#maincontent {
height: 379px;
border-top: solid 1px #d0d0d0;
}
#maincontent a{
font-weight: bold;
color: #3c6e9a;;
} 
#maincontent li{
margin: 0 10px;
display:inline; 
}
.box1, .box2, .box3, .box4, .box5 {
    width: 192px; 
	height: 281px;
    background: url("../images/content/box.jpg") repeat-x;
    border: 1px solid #dfdfdf; 
    display: inline-flex;
 	margin-top: 43px;
	margin-left: 10px;
	text-align: center;
	font: 24px 'Roboto 700', sans-serif;	
	}

#description{
width: 1140px;
height: 291px;
/*background: url("../images/content/discr-top-bg.jpg") repeat-x;*/
background: url("../images/content/main-bot-bg.jpg") no-repeat left bottom;
}
.services {
background: url("../images/content/discr-top-bg.jpg") repeat-x ;
padding: 44px;
}

.services h2 {
color: #184771;
font: 40px 'Roboto 700', sans-serif;	
}

.services p {
color: #36597d;
font: normal 19px 'Roboto Light', sans-serif;
margin: 10px; 
}



/* Footer */ /* как лучше сделать отступы ? */

#footer{
padding: 10px;
}

#footer a {
color:#59a9da;
}
.copyright{
float: left;
color: #7f9cb7;
}
.copyright a:before {
 content: url("../images/content/tw-logo.png");
 margin: 0 10px;
 
}
 
#footer-navi li{
margin: 0px;
padding: 8px;
float: right;
}



/* Content
----------------------------------*/